body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px auto;
    width: 300px;
    border-radius: 5px;
}